@charset "UTF-8";

@media screen and (max-width: 1444px) {
    #header .wrap  .container {
        width: calc(100% - 44px);
    }
    #header .wrap nav .nav-depth1 {
        width: calc(100% - 44px);
    }
    .search-wrap {
        margin-left: 1.3888%;
    }
    .search-wrap .search {
        width: 340px;
    }
    .search-wrap .search_box {
        margin-left: 5px;
    }

    #header .wrap nav .nav-depth1 .cont1 .nav-depth2 {
        padding: 20px 20px;
        min-width: none;
    }

    /*-----header : padding: 0 22px, siteBtn 반응형-----*/
    #footer .wrap {
        width: calc(100% - 44px);
    }

    #footer .wrap .container .link-wrap a span {
        margin: 0 3px 0 0;
    }
}

@media screen and (max-width: 1400px) {

    /*-----section01 : padding : 40px 30px-----*/
    #main #section01 .wrap {
        padding: 40px 30px;
    }

    #main #section01 .wrap .container .slider-wrap {
        /* width: 74.5714%; */
        width: calc(100% - 356px);
    }

    #main #section01 .wrap .container .news-wrap .news {
        margin-right: 1.4285%;
        width: 23.9285%;
    }

    #main #section03 .wrap {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 1280px) {
    .search-wrap {
        left: 270px;
    }
    #header .wrap nav .cont1 .nav-depth2 .cont2:nth-child(5) {
        height: auto;
        min-height: auto;
    }
    #header .wrap nav .cont1:nth-child(5) .nav-depth2 .cont2:nth-child(5),
    #header .wrap nav .cont1:nth-child(1) .nav-depth2 .cont2:nth-child(5) {
        height: 270px;
        min-height: 270px;
    }
    /*-----footer : 바로가기 메뉴 밑으로-----*/
    #footer .wrap .container .link-wrap {
        background: #42464d;
    }

    #footer .wrap .container .go-wrap {
        position: relative;
        padding-top: 16px;
    }

    #footer .wrap .container .go-wrap .go-item {
        position: relative;
        width: 33%;
        border: 0;
    }

    #footer .wrap .container .go-wrap .go-item:first-child {
        margin-right: 1%;
    }

    #footer .wrap .container .go-wrap .go-item>a {
        padding: 16px 18px;
        height: 52px;
    }

    #footer .wrap .container .go-wrap .go-item>a i {
        top: 12px;
    }

    #footer .wrap .container .go-wrap .go-item>div {
        margin-bottom: -16px;
    }
}

@media screen and (max-width: 1200px) {

    #header .wrap {
        height: 135px;
    }
    #header .wrap .container .logo a {
        background: url(../img/mobile_logo.png) 50% 50% no-repeat;
    }
    .search-wrap {
        padding: 33px 0 0;
        left: calc(50% - 205px);
        margin: 0;
    }
    .search-wrap .search {
        margin-bottom: 5px;
    }
    .search-wrap .search_box {
        float: none;
        margin-left: 150px;
    }
    #header .wrap nav .util-menu {
        position: absolute;
        top: -134px;
    }

    #header .wrap nav .nav-depth1 .cont1 {
        width: 17.75%;
    }
}

@media screen and (max-width: 1024px) {

    /*-----section01 : padding : 40px 22px-----*/
    #main #section01 .wrap {
        padding: 40px 22px;
    }
}
@media screen and (max-width: 1104px) {
    #header .wrap nav .cont1:nth-child(5) .nav-depth2 .cont2:nth-child(5),
    #header .wrap nav .cont1:nth-child(1) .nav-depth2 .cont2:nth-child(5) {
        height: auto;
        min-height: auto;
    }
}

@media screen and (max-width: 1000px) {

    /*-----section01 : padding : 40px 22px-----*/
    #main #section01 .wrap {
        padding: 20px 22px;
    }

    #main #section01 .wrap .container .slider-wrap,
    #main #section01 .wrap .container .tab-wrap {
        height: 290px;
    }

    @media screen and (max-width: 998px) {

        /*-----header : nav mobile 변형-----*/

        #header {
            height: 76px;
            border-bottom: 1px solid #999;
        }
        #header .wrap {
            height: 76px;
        }
        #header .wrap .container .logo {
            left: calc(50% - 138px);
            width: 276px;
            height: 75px;
        }
        #header .wrap .container .logo a {
            background: url(../img/mobile_logo_center.png) -50% 50% no-repeat;
        }
        #header .wrap .m-search-btn { display:block;}

        .search-wrap {
            display: none;
            padding: 22px;
            top: 76px;
            left: -20px;
            width: 100vw;
            height: 130px;
            background-color: rgba(0,0,0,.7);
        }

        .search-wrap.mobile-active {
            display: block;
        }
        .search-wrap .gov_logo {
            display: none;
        }
        .search-wrap .search {
            float: none;
            width: 100%;
            height: 45px;
        }
        .search-wrap .search form {
            padding: 3px 5px 0;
            width: 100%;
            border-radius: 2px;
            border: 2px solid #006bb7;
            overflow: hidden;
        }
        input[type='text'] {
            width: 80%;
        }
        .search-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            width: 80px;
            height: 100%;
            background: #006bb7;
        }
        .search-btn::after {
            top: 10px;
            left: 20px;
            content: '검색';
            color: #fff;
            background: transparent;
        }
        .search-wrap .search .hidden-menu {
            display: none;
        }
        .search-wrap .search_box {
            margin-left: calc(50% - 160px);
        }
        
        .search-wrap .search_box .box {
            display: inline-block;
            width: 90px;
            height: 100%;
            line-height: 45px;
            border-radius:0;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #fff;
        }

        /*-----footer : 바로가기 메뉴 너비 50%-----*/
        #footer::after {
            display: none;
        }
        #footer .wrap .container .link-wrap {
            padding: 15px 22px;
            margin-left: -22px;
            width: calc(100% + 44px);
        }
        #footer .wrap .container .go-wrap .go-item {
            width: 49.5%;
        }

        #footer .wrap .container .go-wrap .go-item:first-child {
            margin-right: 1%;
        }
    }

    @media screen and (max-width: 900px) {

        /*-----section01 :  padding : 40px 22px, 탭박스 밑으로-----*/
        #main #section01 .wrap {
            padding: 20px 25px;
        }

        #main #section01 .wrap .container .slider-wrap {
            width: 100%;
            height: 310px;
        }

        #main #section01 .wrap .container .tab-wrap {
            position: relative;
            width: 100%;
            height: 302px;
        }

        #main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab span {
            padding-right: 40px;
        }

        #main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab .date {
            position: absolute;
            top: 14px;
            right: 4px;
        }

        #main #section01 .wrap .container .news-wrap {
            margin-bottom: 20px;
        }

        #main #section01 .wrap .container .news-wrap .news {
            float: left;
            margin-right: 0;
            width: 49.5%;
            height: 100%;
        }

        #main #section01 .wrap .container .news-wrap .news a .cover strong {
            margin-top: 3.8208%;
            /*16px*/
        }

        #main #section01 .wrap .container .news-wrap .news a .cover i {
            margin: 8.597% auto 7.6417%;
            /*36px auto 32px*/
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(odd) {
            margin-right: 001%;
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(-n+2) {
            margin-bottom: 001%;
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(1) {
            border-radius: 20px 0 0 0;
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(2) {
            border-radius: 0 20px 0 0;
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(3) {
            border-radius: 0 0 0 20px;
        }

        #main #section01 .wrap .container .news-wrap .news:nth-child(4) {
            border-radius: 0 0 20px 0;
        }

    }

    @media screen and (max-width: 768px) {

        /*-----footer : 로고 메뉴 밑으로-----*/
        #footer .wrap .container .address-wrap .logos {
            position: relative;
            padding: 36px 0 10px;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px) {
        #main #section01 .wrap {
            padding: 15px;
        }

        #main #section01 .wrap .container .slider-wrap {
            width: 100%;
            height: 310px;
        }

        #main #section01 .wrap .container .news-wrap .news a:hover .cover {
            padding: 4.7761%;
            /*1rem*/
        }

        #main #section01 .wrap .container .news-wrap .news a .cover strong {
            margin-top: 2.985%;
            /*10px*/
        }

        #main #section01 .wrap .container .news-wrap .news a .cover i {
            visibility: hidden;
            height: 0;
        }

        #main #section01 .wrap .container .news-wrap .news a .cover span {
            max-height: auto;
        }

        #main #section01 .wrap .container .tab-wrap {
            position: relative;
            width: 100%;
            height: 302px;
        }
    }

    @media screen and (max-width: 480px) {

        /*-----footer : 바로가기 메뉴 너비 100%-----*/
        #footer .wrap .container .go-wrap .go-item {
            width: 100%;
        }

        #footer .wrap .container .go-wrap .go-item:first-child {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    @media screen and (max-width: 360px) {
        /*-----section03 :  배너 너비 반응형으로-----*/
    }