* {
    box-sizing: border-box;
}

/* ===============================wrapper==================================*/
#wrapper {
    width: 100%;
    min-height: 100%;
}

/* ===============================main==================================*/
#main {
    width: 100%;
}

/* ===============================section01==================================*/
#main #section01 {
    width: 100%;
}

#main #section01 .wrap {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1400px;
}

#main #section01 .wrap .container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*-----common round box-----*/
#main #section01 .wrap .container .round-box {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    overflow: hidden;
}
/*-----slider section-----*/
#main #section01 .wrap .container .slider-wrap {
    width: 1044px;
    height: 368px;
}

#main #section01 .wrap .container .slider-wrap .slider-box {
    position: relative;
    width: 100%;
    height: 100%;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-view {
    width: 100%;
    height: 100%;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-view .slide-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-view .slide-wrap .slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-view .slide-wrap .slide:nth-child(1) {opacity: 1;}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-view .slide-wrap .slide img {
    width: 100%;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(0,0,0,.8);
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button::after {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 12px;
    height: 12px;
    content: '';
    background: url(../img/bg_iconset.png) 0 0 no-repeat;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:nth-child(2)::after {
    background: url(../img/bg_iconset.png) -23px 0 no-repeat;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:nth-child(2).active::after {
    background: url(../img/bg_iconset.png) -47px 0 no-repeat;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:nth-child(3)::after {
    background: url(../img/bg_iconset.png) -72px 0 no-repeat;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:hover {border: 1px solid #000;}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:nth-child(1).active,
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns button:nth-child(3).active {border: 1px solid #000;}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns span {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    width: 54px;
    height: 44px;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns span::after {
    position: absolute;
    top: calc( 50% - 1px);
    left: calc( 50% - 20px);
    width: 40px;
    height: 2px;
    content: '';
    background-color: #888;
    transform-origin: 50%;
    transform: rotate(-45deg);
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns span em {
    display: inline-block;
    position: absolute;  
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns span .num {
    top: 0;
    left: 0;
    font-size: 18px;
    color: #fff;
}
#main #section01 .wrap .container .slider-wrap .slider-box .slide-btns span .nums {
    bottom: 0;
    right: 0;
    font-size: 15px;
    color: #888;
}
/*-----tab section-----*/
#main #section01 .wrap .container .tab-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 336px;
    height: 368px;
}

#main #section01 .wrap .container .tab-wrap .tab-box {
    padding: 10px 15px 25px;
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 55px;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn > a { 
    display: inline-block;
    cursor: pointer; 
}

#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn {
    position: relative;
    width: auto;
    height: 100%;
    padding: 15px 0;
    line-height: 1.7rem;
    font-size: 1rem;
    color: #8f8f8f;
} 
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn.active {
    color: #000;
    font-weight: 600;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn.active:after {
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 3px;
    content: '';
    background-color:#4071b4;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .dot{
    display: inline-block;
    margin: 0 8px;
    width: 5px;
    height: 5px;
    content: '';
    background-color: #8f8f8f;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 6px;
    width: 24px;
    height: 24px;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more:hover {
    animation: spin 1s .2s infinite linear;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more i,
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more i::after {
    display: block;
    width: 12px;
    height: 2px;
    content: '';
    background-color: #464646;
} 
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more i {
    position: relative;
    top: 6px;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-btn .btn-more i::after {
    transform: rotate(90deg);
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item.active {
    display: block;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item {
    display: none;
    z-index: 1;
    position: relative;
    width: 100%;
    height: calc(100% - 55px);
    overflow: hidden;
    transition: all .3s .3s ease-in-out;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab {
    position: relative;
    display: block;
    padding: 8px;
    width: 100%;
    height: auto;
    border-top: 1px solid #dfdfdf;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab span {
    display: block;
    width: 100%;
    line-height: 180%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #454545;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab .date {
    display: block;
    line-height: 150%;
    font-size: 13px;
    color: #767676;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest{
    padding: 15px 8px;
    position: relative;
    width: 100%;
    height: auto;
}

#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest .date-box {
    display: inline-block;
    padding: 8px 0;
    width: 58px;
    height: 58px;
    text-align: center;
    font-size: 13px;
    line-height: 160%;
    color: #fff;
    border-radius: 4px;
    background-color: #143e88;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest .date-box b {
    display: inline-block;
    font-size: 25px;
}   
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest h2 {
    position: absolute;
    padding: 10px 13px 10px 80px;
    top: 15px;
    left: 0;
    width: 100%;
    height: 58px;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest h2 > span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    line-height: 120%;
    white-space: normal;
    text-overflow: ellipsis;
    color: #454545;
}
#main #section01 .wrap .container .tab-wrap .tab-box .tab-item .tab-latest > span {
    display: block;
    width: 100%;
    height: auto;
    max-height: 38px;
    margin-top: 10px;
    padding-right: 0;
    font-size: 14px;
    line-height: 130%;
    color: #767676;
    white-space: normal;
    overflow: hidden;
}

/*-----news section-----*/
#main #section01 .wrap .container .news-wrap {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

#main #section01 .wrap .container .news-wrap .news {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 335px;
    height: auto;
    border: 0;
}

#main #section01 .wrap .container .news-wrap .news:last-child {
    margin-right: 0;
}

#main #section01 .wrap .container .news-wrap .news a {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
#main #section01 .wrap .container .news-wrap .news:nth-child(1) a::before{
    position: absolute;
    bottom: 1.6rem;
    right: 1.2rem;
    width: 48px;
    height: 48px;
    content: '';
    background: url(../img/bg_iconset.png) 0 -25px no-repeat;
}
#main #section01 .wrap .container .news-wrap .news:nth-child(2) > .video-news-img::before {
    position: absolute;
    bottom: calc(50% - 24px);
    right: calc(50% - 30px);
    width: 60px;
    height: 48px;
    content: '';
    background: url(../img/bg_iconset.png) -150px -25px no-repeat;
}


#main #section01 .wrap .container .news-wrap .news a img {
    width: 100%;
    height: auto;
}
#main #section01 .wrap .container .news-wrap .news a .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    font-size: 18px;
    line-height: 1.4rem;
    color: #fff;
    text-align: center;
    background-color: rgba(10,112,170,0.9);
    transition: all .3s ease-in-out;
    
}
#main #section01 .wrap .container .news-wrap .news:nth-child(2) a .cover {
    background-color: rgba(202,81,0,0.9);
}
#main #section01 .wrap .container .news-wrap .news:nth-child(3) a .cover {
    background-color: rgba(24,143,54,0.9);
}
#main #section01 .wrap .container .news-wrap .news a:hover .cover {
    padding: 4.7761%;/*1rem*/
    height: 100%;
}
#main #section01 .wrap .container .news-wrap .news a .cover strong {
    display: inline-block;
    margin-top: 2.985%;/*10px*/
}
#main #section01 .wrap .container .news-wrap .news a .cover i {
    position: relative;
    margin: 5.9701% auto 4.1791%; /*20px auto 14px*/
    display: block;
    width: 48px;
    height: 48px;
    content: '';
    background: url(../img/bg_iconset.png) 0 -25px no-repeat;
}
#main #section01 .wrap .container .news-wrap .news:nth-child(2) a .cover i {
    background: url(../img/bg_iconset.png) -50px -25px no-repeat;
}
#main #section01 .wrap .container .news-wrap .news:nth-child(3) a.cover i {
    background: url(../img/bg_iconset.png) -100px -25px no-repeat;
}
#main #section01 .wrap .container .news-wrap .news a .cover span {
    display: inline-block;
    width: 100%;
    max-height: 42px;
    overflow: hidden;
}

#main #section01 .wrap .container .news-wrap .news .video-news-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    background-color: #fff;
    transition: color .4s .8s ease-in-out;
}
#main #section01 .wrap .container .news-wrap .news .video-news-btn:hover {background-color: #000;}
#main #section01 .wrap .container .news-wrap .news .video-news-btn i {
    display: block;
    width: 16px;
    height: 2px;
    position: relative;
    top: calc(50% - 1px);
    left: 11px;
    content: '';
    background-color: #000;
}
#main #section01 .wrap .container .news-wrap .news .video-news-btn i::before {
    position: relative;
    top: -7px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000;
}
#main #section01 .wrap .container .news-wrap .news .video-news-btn i::after {
    position: relative;
    top: 5px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000;
}
#main #section01 .wrap .container .news-wrap .news .video-news-btn:hover i,
#main #section01 .wrap .container .news-wrap .news .video-news-btn:hover i::before,
#main #section01 .wrap .container .news-wrap .news .video-news-btn:hover i::after { background-color: #fff;}

#main #section01 .wrap .container .news-wrap .news .slide-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
 }
#main #section01 .wrap .container .news-wrap .news .slide-view .slide-wrap { 
    margin-left: 0;
    width: 400%;/*img: 335,336,336,335*/
    font-size: 0;/*no margin*/
}
#main #section01 .wrap .container .news-wrap .news .slide-view .slide-wrap .slide {
    display: inline-block;
    width: 25%;
}
#main #section01 .wrap .container .news-wrap .news .slide-view .slide-wrap .slide img {
    width: 100%;
}
#main #section01 .wrap .container .news-wrap .news .top-cover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 16px;
    width: 100%;
    height: 42px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0,0,0,.4);
}
#main #section01 .wrap .container .news-wrap .news .top-cover span {
    float: right;
    width: auto;
    height: 100%;
}
#main #section01 .wrap .container .news-wrap .news .top-cover span i {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#main #section01 .wrap .container .news-wrap .news .top-cover span i::after { 
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 50%;
    background-color: #fff;
}
#main #section01 .wrap .container .news-wrap .news .top-cover span i.active {
    transform: scale(1.5);
}
#main #section01 .wrap .container .news-wrap .news .top-cover span i.active::after {
    background-color: #ff6600;
}

/* ===============================section02==================================*/
/* ===============================section03==================================*/
#section03 {
    width: 100%;
}

#main #section03 .wrap {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1400px;
}

#main #section03 .wrap .container {
    position: relative;
    width: 100%;
    height: 112px;
    /*auto*/
}
/*-----btn-wrap-----*/
#main #section03 .wrap .container .btn-wrap {
    z-index: 2;
    position: relative;
    display: inline-block;
    padding: 40px 0;
    width: auto;
    height: 100%;
}

#main #section03 .wrap .container .btn-wrap button {
    display: inline-block;
    padding: 7px 0;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}
#main #section03 .wrap .container .btn-wrap i { 
    display: inline-block;
    margin: auto;
    width: 16px;
    height: 16px;
    background: url(../img/bg_iconset.png) -97px 0  no-repeat;
}
#main #section03 .wrap .container .btn-wrap button:nth-child(2) i { background: url(../img/bg_iconset.png) -123px 0  no-repeat;}
#main #section03 .wrap .container .btn-wrap button:nth-child(3) i { background: url(../img/bg_iconset.png) -147px 0 no-repeat;}
#main #section03 .wrap .container .btn-wrap button:nth-child(4) i { background: url(../img/bg_iconset.png) -175px 0  no-repeat;}

/*-----banner-wrap-----*/
#main #section03 .wrap .container .banner-view {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 200px;
    /*btn-wrap width*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main #section03 .wrap .container .banner-view .banner-wrap {
    padding: 35px 0;
    width: 2000px;
    height: 100%;
}

#main #section03 .wrap .container .banner-view .banner-wrap li {
    float: left;
    padding: 0 10px;
    width: auto;
    height: 42px;
}

#main #section03 .wrap .container .banner-view .banner-wrap li a {
    height: 100%;
}

#main #section03 .wrap .container .banner-view .banner-wrap li a img {
    height: 100%;
}


/* ===============================footer==================================*/
#footer {
    width: 100%;
    height: auto;
    background-color: #4d515a;
}

#footer .wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: auto;
}

#footer .wrap .container {
    position: relative;
    width: 100%;
    height: 100%;
}
/*-----lihnk-wrap-----*/
#footer .wrap .container .link-wrap {
    padding: 24px 0;
    width: 100%;
    background-color: #42464d;
}

#footer .wrap .container .link-wrap a {
    display: inline-block;
}

#footer .wrap .container .link-wrap a span::before {
    position: relative;
    top: -2px;
    left: 0;
    margin-right: 5px;
    display: inline-block;
    width: 5px;
    height: 5px;
    content: '';
    background-color: #fff;
}

#footer .wrap .container .link-wrap a span {
    position: relative;
    margin: 0 10px;
    font-size: 15px;
    line-height: 170%;
    color: #fff;
}

#footer .wrap .container .link-wrap a:first-child span {
    color: yellow;
}
/*-----go-wrap-----*/
#footer .wrap .container .go-wrap {
    position: absolute;
    top: 0;
    right: 0;
}

#footer .wrap .container .go-wrap .go-item {
    position: relative;
    float: left;
    width: 194px;
    height: auto;
    background-color: #42464d;
    border: 1px solid #848890;
    border-top: 0;
    border-bottom: 0;
}
#footer .wrap .container .go-wrap .go-item:last-child { border-left: 0 ;}
#footer .wrap .container .go-wrap .go-item > a {
    position: relative;
    display: inline-block;
    padding: 24px 18px;
    width: 100%;
    height: 70px;
    line-height: 150%;
    font-size: 15px;
    color: #fff;
    background: #42464d;
}
#footer .wrap .container .go-wrap .go-item > a i {
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 18px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    content:'';
    background-color: #2b2c2e;
}
#footer .wrap .container .go-wrap .go-item > div.active {
    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 70px;
    padding: 0 15px;
    width: 100%;
    background-color: #42464d;
}
#footer .wrap .container .go-wrap .go-item > div {
    display: none;
}
#footer .wrap .container .go-wrap .go-item div ul {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px dotted #fff;
}
#footer .wrap .container .go-wrap .go-item div ul li {
    margin-bottom: 5px;
}

#footer .wrap .container .go-wrap .go-item div ul li a {
    line-height: 1.2rem;
    font-size: 13px;
    color: #fff;
}
#footer .wrap .container .go-wrap .go-item div ul li a:hover {
    text-decoration: underline;
}
#footer .wrap .container .go-wrap .go-item div ul li a::after {
    display: inline-block;
    margin-left: 2px;
    width: 14px;
    height: 14px;
    content: '';
    background: url(../img/bg_iconset02.png) -125px 0 no-repeat;
}
/*-----address-wrap-----*/
#footer .wrap .container .address-wrap {
    position: relative;
    padding: 25px 0;
}

#footer .wrap .container .address-wrap .address {}

#footer .wrap .container .address-wrap .address p {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}

#footer .wrap .container .address-wrap .copyright {

    margin-top: 25px;
}

#footer .wrap .container .address-wrap .copyright p {
    font-size: 14px;
    color: #8d9197;
}

#footer .wrap .container .address-wrap .logos {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 0;
    height: 100%;
}
#footer .wrap .container .address-wrap .logos a {
    display: inline-block;
    position: relative;
    color: transparent;
}
#footer .wrap .container .address-wrap .logos a::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: '';
}
#footer .wrap .container .address-wrap .logos a:first-child {
    margin-right: 16px;
    width: 109px;
    height: 35px;
}
#footer .wrap .container .address-wrap .logos a:first-child::after {
    background: url(../img/bg_iconlogo.png) -99px -100px no-repeat;
}
#footer .wrap .container .address-wrap .logos a:last-child {
    width: 76px;
    height: 46px;
}
#footer .wrap .container .address-wrap .logos a:last-child::after{
    background: url(../img/bg_iconlogo.png) -225px -100px no-repeat;
}

/* ===============================keyframe==================================*/
@keyframes spin {
    from {    
        transform: rotate(0);
    }
    to {    
        transform: rotate(359deg);
    }
}


